/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*start code*/
.index-header {
    background-color: rgba(128, 0, 128, .5);
    padding: 8px;
}
header nav {
    text-align: center;
    padding: 8px;
}
header nav a {
    margin: 8px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(79, 79, 206);
    font-size: 14px;
}
header nav a:hover{
    color: blue;
    font-size: 17px;
}
.box {
      
    width: 46%;
    margin-left: auto;
    margin-right:auto ;
    height: auto; 
}
img{
    width: 100%;
}
.article-date {
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif; /*font family is not correct*/
    color: blue;
    font-weight: 600;
}
.article-heading {
    font-size: 34px;
    padding-top:30px;
    padding-bottom: 30px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 600;
}
article p {
    padding-top: 8px;
    padding-bottom: 4px;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.read-only-link {
    font-weight: 600;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding:20px 0px 20px 10px;
}
.altcampus-2019 {
    font-size: 20px;
    
}
.index-footer {
    text-align: center;
    background-color: rgb(1, 1, 255,.5);
    padding:18px ;
    font-family: Arial, Helvetica, sans-serif; 
}
/*blog page*/
.display-inline {
    display: inline-block;
}
.blog-author-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:  1px brown solid;
}
.blog-author-name {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 6px;
    color: rgb(0, 0, 0);
}
.blog-time {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-transform: capitalize;
}
/*about page*/
.reettik-image {
    height: 150px;
    width:  150px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    border:1px black solid;
}
.reettik-name {
    text-transform: uppercase;
    font-size: 24px;
    padding-left: 20px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}
.image-align {
    text-align: center;
    
}
.about-sections-heading{
        text-align: center;
        background-color: aquamarine;
        color: black;
        text-transform: capitalize;
        padding-bottom: 15px;
        padding-top: 15px;
}
.about-sections-para{
    padding: 20px;
    line-height: 25px;
}
.about-foot-nav{
          text-align: center;
          padding: 10px;
}
.fa{
    padding: 10px;
}
